.grid
  +adjust-font-size-to(18px)

nav
  padding: $gutter-width
  background-color: #333

.navigation

  +adjust-font-size-to(18px)

  a
    +link-colors(#999, #ccc, #fff)
  +horizontal-list

  li
    margin-right: 14px
