.grid
  font-size: 1.125em
  line-heigth:  1.5em
  color: #666
  border-top: 30px solid #e3e3e3
  background-color: #fff


.page
  img
    +border-radius(9px)
    +box-shadow(2px 2px 6px #dedede)

.referenzen .page
  img
    float: left
    margin-right: 24px
    margin-bottom: 60px
  section
    clear: left
    padding-bottom: 24px


nav
  //padding: $gutter-width
  background-color: #222
  width: 100%
  margin-top: 38px
  //padding-left: 6px

.nav-wrapper
  border-bottom: 30px solid $main-color



.navigation
  +adjust-font-size-to(18px)
  font-family: $montserrat
  +horizontal-list

  img
    margin-top: -10px
    +border-radius(100%)


  a
    +link-colors(#cacaca, $main-color, $main-color, #cacaca, $main-color)
    text-transform: lowercase
    padding: 20px 10px 6px 10px
    display: block
    margin-left: -10px
    margin-right: 0.35em
    +transition(all,ease-in, 1s)
    font-weight: 700


.proxy-navigation
  display: none

  a
    +link-colors(#fff)
    font-weight: 700
    text-transform: lowercase
    font-family: $roboto
    &:hover
      color: ($main-color)



.sub-navigation, .proxy-navigation
  +horizontal-list
  font-size: 1em
  color: #fff
  font-family: $roboto

  li
    margin-right: 10px
  span
    font-size: pxtoem(12px)
    padding-left: 6px

.sub-nav-wrapper
  background-color: #232323
  position: fixed
  top:  0
  left: 0
  width: 100%
  padding: 6px 0
  border-bottom: 1px solid #444
  z-index: 10

.block-headline
  +adjust-font-size-to(14px)

.page-head
  background-color: #ff9900
  color: #fff
  margin-left: -20px
  padding: 10px 39px 10px 20px
  margin-top: -104px
  margin-bottom: 30px
  min-height: 155px

  +border-radius (3px 3px 3px 0)
  h2
    float: right
    font-weight: 700
    font-size: pxtoem(18px)
    color: #fff
    position: relative
    top: -8px
  h1
    font-size: pxtoem(18px)
    color: #fff
    margin-top: 19px
  p
    width: 80%
    text-align: justify
    margin-top: 26px
    line-height: 130%

.sidebar
  margin-top: -12px !important
  h2
    color: rgb(30,65,50) !important
    margin-top: 1em
    font-size: pxtoem(18px)
  section
    padding-left: 30px

.side-navigation
  font-size: pxtoem(14px)
