.grid
  padding: 40px 20px 60px 20px

h2, .h2
  margin-top: 0

.proxy-navigation
  font-size: 10px
  padding: 10px 10px

.nav-wrapper
  display: none

.sub-navigation
  padding: 0 10px
  font-size: 12px

.footer
  background: #fff
  padding: 10px 20px 20px 10px

+susy-breakpoint($tab, 12)
  .nav-wrapper
    display: block

  h2, .h2
    +leader(1)

  .page-head
    background-color: #ff9900
    color: #fff
    margin-left: -20px
    padding: 10px 39px 10px 20px
    margin-top: -104px
    margin-bottom: 30px
    min-height: 155px

    +border-radius (3px 3px 3px 0)
    h2
      float: right
      font-weight: 700
      font-size: pxtoem(18px)
      color: #fff
      position: relative
      top: -8px
    h1
      font-size: pxtoem(18px)
      color: #fff
      margin-top: 19px
    p
      width: 80%
      text-align: justify
      margin-top: 26px
      line-height: 130%

  .footer
    background-color: rgba(0,0,0, 0.7)
    width: 100%
    height: 55px
    padding: 0

  .footer-inner
    +container (1106px)
    img
      margin-left: 20px


  .footer-first
    +span(2)
    background-color: #fff

  .footer-second
    +span(10 last)
    padding-top: 16px
    color: #fff

  .sub-nav
    +container (1106px)
    padding: 0 20px
    +pie-clearfix

  .grid
    +container(1106px)
    +pie-clearfix

  .sub-navigation
    +span(5 last)
    padding-left: 72px
    font-size: pxtoem(14px)

  .proxy-navigation
    +span(7)
    font-size: 1em
    padding: 0

  .page
    +span(9)

  .sidebar
    +span(3 last)
    +bleed($gutter-width)
