<div class="container">
    <h1>Die Seite wurde nicht gefunden<span>:(</span></h1>
    <p>Die Seite, die Sie aufgerufen haben, existiert nicht mehr.</p>
    <p>Die Ursache hierfür ist:</p>
    <ul>
        <li>Die Seite ist sehr alt und wurde von uns gelöscht.</li>
    </ul>
    <script>
        var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
    </script>
    <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</div>
