##Aktuell
<header>
  <%=image_tag "mdwp-projekt-showroom-215.jpg" %>
</header>
<ul class="side-navigation">
<% data.mdwp.post.take(5).reverse_each do |id, post| %>

  <li>
    <a href='<%= post["slug"] %>'><%= post["title"] %></a>
  </li>


<% end %>
</ul>
