##Aktuell
<header>
  <%=image_tag "mdwp-projekt-showroom-215.jpg" %>
</header>
<ul class="side-navigation">

<% data.mdwp.post.sort_by {|k,v| v["rid"]}.drop(15).reverse_each do |post| %>

  <li>
    <a href='/<%= post[1]["slug"] %>'><%= post[1]["title"] %></a>
  </li>


<% end %>
</ul>
