---
title: 'Über uns | mdwp - Web'
---

<aside class="page-head">
  <h2>Über mdwp</h2>
  <p>Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman. Wir stellen sicher, dass Ihre Websites auf allen Endgeräten optimal dargestellt werden.</p>
</aside>

<article>
<p>Wir arbeiten für den Erfolg vieler Unternehmen im Web 2.0. Zu unseren Kunden gehören Verlage, Online-Publisher, Media Unternehmen, Unternehmensberatungen und Startups. Wir entwickeln und hosten performante skalierbare Websites. Zuverlässig, schnell und pünktlich - ohne großen Agentur Overhead, sind wir immer für Sie erreichbar und widmen uns unverzüglich Ihren Wünschen und Problemen.</p>
<p>
mdwp* ist eine inhabergeführte Internet-Agentur mit Sitz in Hagen.
2005 von Meinolf Droste, dem langjährigen Technischen Direktor von Concept!/OgilvyInteractive Düsseldorf gegründet, hat sich die Agentur auf die Produktion von Websites mit dem Content- Management-System Drupal spezialisiert.
Im Januar 2004 wurde die erste Eigenproduktion das Presseportal go-with-us ins Netz gestellt. Die 2005/2006 einsetzende internationale Erfolgsgeschichte von Drupal hat unsere Entscheidung in hohem Maße bestätigt.
</p>
<p>
Ein besonderes Anliegen ist uns die Entwicklung standardkonformer moderner leicht erweiterbarer Websites. Die Trennung von Layout und Inhalt, durch den strikten Einsatz von CSS oder auch die Bereitstellung der Inhalte auf unterschiedlichen Ausgabemedien, i.d.R. mittels Responsive Web Design, gehört zu unserem Selbstverständnis.
</p>
<p>
Eine Besonderheit von mdwp* ist die Zusammenarbeit mit starken Partnern. Diese Partnerschaften sind in gemeinsamer Projektarbeit während der letzten 14 Jahre gewachsen.
Zu diesen Partnern gehören die Mitbetreiber der deutschen Drupal-Community "DrupalCenter.de" (Unser Firmeninhaber M. Droste ist dort Mitbetreiber und Administrator.), Acquia und die extendad Branded Entertainment.TV GmbH.
</p>
<p>
In den letzten 9 1/2 Jahren hat mdwp* ca. 40 Projekte mit Drupal umgesetzt. Zu unseren Kunden gehören namhafte deutsche Unternehmen wie:
<ul>
<li>Verlag C.H. Beck oHG, München</li>
<li>Globetrotter Ausrüstungs GmbH, Hamburg</li>
<li>Kraus und Partner Unternehmensberatungs GmbH, Bruchsaal</li>
<li>Media Consult Maier + Partner GmbH, Karlsruhe</li>
<li>HS Public Relations Verlag und Werbung GmbH, Düsseldorf</li>
<li>eTecture / Ogilvy, Frankfurt/Paris</li>
<li>e.Consult AG, Saarbrücken</li>
</ul>
</p>
</article>
