---
title: 'Über uns | mdwp - Web'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman. Gerne beraten wir Sie auch vor und während -------------'
---
<aside class="page-head">
  <h2>Archiv</h2>
  <h1>Drupal Blog</h1>
  <p>In unserem Archiv finden Sie Beiträge aus den letzten 9 Jahren. Hauptsächlich zu Themen rund um Drupal</p>
</aside>

<% data.mdwp_entry.entry.sort_by {|k,v| v["title"]}.each do |entry| %>
<section>
  <header>
  <h2><a href="/<%= entry[1]['url'] %>">  <%= entry[1]["title"] %> </a></h2>
  </header>
</section>
<% end %>
