---
title: 'Backdrop CMS | mdwp - Web'
description: 'Informieren Sie sich auf mdwp.de über Alternativen zu Drupal 8. Das Backdrop CMS - ein Fork von Drupal 7 - ist eine solche Alternative.'
---
<aside class="page-head">
  <h2>Backdrop</h2>
  <h1>Drupal 7 Fork</h1>
  <p>Einige Drupal Entwickler sind nach langen Überlegungen zu dem Ergebnis gekommen,
  dass der Weg, der mit Drupal 8 eingeschlagen wurde, für kleine und mittlere Sites,
  nicht der richtige ist. Deshalb wurde ein Drupal 7 Fork, als Alternative zu D7 und D8,
  entwickelt.
  </p>
</aside>

<article>

<h1>Was ist das Backdrop CMS?</h1>
<ul>
  <li>Ein Content Management System</li>
  <li>Ein Programmier Framework</li>
  <li>Ein Drupal 7 Fork</li>
  <li>Ein besseres CMS als Drupal 7</li>
  <li>Eine Alternative zu Drupal 8</li>
</ul>

<h2>Was spricht für Backdrop?</h2>
<h3><i class="fa fa-mobile"></i> Backdrop ist durch und durch Responsive. Auch das Backend</h3>
<p>Backdrop vereinfacht die Erstellung neuer responsive Themes.
Ein einfach zu bedienender Layout Manager gibt Ihnen unbegrenzte Möglichkeiten,
um unterschiedliche Layouts, auf verschiedenen Seiten oder Site sections, einzurichten.
Responsive <i>Out of the box</i></p>
<h3><i class="fa fa-cogs"></i> Konfigurationsverwaltung im Core.</h3>
<p>Drupal speichert alle Konfigurationen in der Datenbank.
Das ändert sich erst mit Drupal 8. Backdrop bietet schon jetzt ein dateibasiertes
Management der Konfiguration. Dadurch lassen sich Konfigurationen sehr einfach von
einem Staging Server auf den Live Server deployen. Und Konfigurationen können
in einer Versionsverwaltung wie git abgelegt werden. So kann man jederzeit zu einer
vorherigen Version zurückkehren.</p>
<h3><i class="fa fa-rocket"></i> Backdrop ist schneller als Drupal.</h3>
<p>Backdrop ist optimiert für MySQL, dem Datenbanksystem, das auf fast jeder
Drupal Installation zu finden ist. Backdrop ist schmal und auf das wesentliche reduziert.
Für den Core überflüssige Module, wie das Forum, sind rausgeflogen.</p>
<h3><i class="fa fa-drupal"></i> Ein einfacher Umstieg von Drupal 7 ist gewährleistet.</h3>
<p>Wenn Sie Drupal 7 kennen, wird Ihnen der Umstieg auf Backdrop leicht fallen.
Die selbe PHP Architektur, eine vertraute Inhaltsverwaltung und vieles mehr, das Sie
von Drupal 7 kennen, sorgt für einen sorgenfreien Umstieg. Viele Drupal 7 Module
lassen sich sehr einfach nach Backdrop portieren.</p>
<h3><i class="fa fa-star"></i> Weitere Verbesserungen:</h3>
<ul>
<li>Wer Drupal kennt, kennt Views. Backdrop hat Views im Core.</li>
<li>Backdrop ist komplett in HTML5.</li>
<li>Filtersystem der Modulverwaltung</li>
<li>AJAX Dialoge</li>
<li>Responsive Adminsitration</li>
<li>Layouts für Templates.</li>
<li>Einfaches UI für Layouts, als Alternative zu Panels.</li>
<li>Einfache Dateiverwaltung.</li>
</ul>

<p>
Als Drupal Agentur mit über 10-jähriger Erfahrung in der Entwicklung von Drupal Sites, beraten wir Sie auch gerne, wenn Sie mehr Informationen zu Backdrop benötigen. Kommt dieses CMS für Sie in Frage?
</p>
<p>
Stellen Sie uns gerne persönlich Ihr Projekt vor und gelangen so zu einer wichtigen Entscheidung.
</p>
<p>
mdwp* gehört zu den internationalen Supporter von Backdrop
</p>
</article>
