---
title: 'Über uns | mdwp - Web'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman. Gerne beraten wir Sie auch vor und während -------------'
---
<aside class="page-head">
  <h2>Backdrop</h2>
  <h1>Drupal 7 Fork</h1>
  <p>....</p>
</aside>

<article>

<h1>Was ist das Backdrop CMS?</h1>
<ul>
  <li>Ein Content Management System</li>
  <li>Ein Programmier Framework</li>
  <li>Ein Drupal 7 Fork</li>
  <li>Ein besseres CMS als Drupal 7</li>
  <li>Eine Alternative zu Drupal 8</li>
</ul>
<p>
Als Drupal Agentur mit über 10-jähriger Erfahrung in der Entwicklung von Drupal Sites, beraten wir Sie auch gerne, wenn Sie mehr Informationen zu Backdrop benötigen. Kommt dieses CMS für Sie in Frage?
</p>
<p>
Stellen Sie uns gerne persönlich Ihr Projekt vor und gelangen so zu einer wichtigen Entscheidung.
</p>
<p>
mdwp* gehört zu den internationalen Supporter von Backdrop
</p>
</article>
