---
title: 'Contentful CMS | mdwp - Web'
description: 'Contentful ist ganz anders als alle traditionellen CMS. Es dreht sich alles um Inhalt und Struktur,
nicht um die Präsentation der Inhalte und auch nicht um die Geräte auf denen der Inhalt dargestellt werden soll'
---
<aside class="page-head">
  <h2>Contentful CMS</h2>
  <h1>Die Alternative</h1>
  <p>Was auch immer die Zukunft bringen mag - mit Contentful erstellter und gepflegter Inhalt
  ist vollkommen unabhängig von Endgeräten und kann auf jede erdenkliche technische Entwicklung reagieren.
  </p>
</aside>

Contentful ist ganz anders als alle traditionelle CMS. Es dreht sich alles um Inhalt und Struktur,
nicht um die Präsentation der Inhalte und auch nicht um die Geräte auf denen der Inhalt, in welcher
Form auch immer, dargestellt werden soll.

Im Gegensatzt zu anderen CMS liefert Contentful den Inhalt in reinster, unveränderter Form aus.
Contentful trifft keine Annahme darüber, wie und wo Sie Ihren Inhalt präsentieren wollen.
CMS wie Drupal und Wordpress gehen zuerst einmal davon aus, dass Ihr Inhalt für eine Website vorgesehen ist
und liefert den Inhalt mit einer HTML Struktur und CSS zur Darstellung aus.
Dieses kann dann verändert werden. Deshalb können Sie die Inhalte auch direkt auf Ihrer Website bearbeiten.

Das geht mit Contentful **nicht**. Falls das ein wichtiges Kriterium für Sie ist, kommt Contentful
für Sie nicht in Frage!

Contentful bietet Ihnen zur Bearbeitung von Inhalt eine einfach zu bedienende und schnelle Oberfläche,
auf den Servern von Contentful, also in der *Cloud*.

Die Vorgehensweise zur Erstellung eines Produkts mit Contentful kann so aussehen:

- Sie melden sich bei Contentful an und beginnen mit der Erfassung Ihrer Inhalte.
- Sie beauftragen einen Dienstleister zur Entwicklung eines Frontends für Ihre Inhalte.

Das kann eine dynamische Website sein, eine statische Website, eine App für Smartphones,
ein Frontend zur Präsentation Ihrer Inhalte auf einem großen Info Bildschirm in einem Ausstellungsraum
oder später einmal auf einem Display eines Kühlschranks, wenn Sie z.B. Rezepte schreiben.

All das lässt sich auch mit Drupal machen, aber die Inhalte sind nie so unabhängig wie bei Contentful.

Inhalt und Darstellung sind zwar auch bei Drupal getrennt, aber nicht so strikt wie bei Contentful.
Einmal gespeichert *verschwindet* der Inhalt in den Tiefen einer Datenbank. Diesen irgendwan einmal dort
wieder zu extrahieren ist sehr schwierig. In Contenful ist das sehr, sehr einfach.

Aber diese unterschiedlichen Systeme zu vergleichen bringt nicht viel. Es kommt immer auf den Einzelfall
und Ihre Anforderungen an.

Meine Anforderungen für den neuen Web Auftritt von mdwp.de waren einfach die, dass ich eine statische
Website wollte und nach dem Aufbau der Templates mit [Middleman](/middleman), weiteren Inhalt einfach
erfassen und pflegen will.

Und da bot sich Contentful als beste Lösung an. [Kontaktieren](/kontakt) Sie mich gerne, wenn eine ähnliche Lösung
für Sie interessant ist.
