---
title: 'Drupal Consulting & Services'
description: 'Als Drupal Agentur und Dienstleister produzieren wir für Ihr Unternehmen, in Zusammenarbeit mit starken Partnern, kundenorientierte zukunftssichere Lösungen für das Web, mit modernster Technik und höchsten Qualitätsansprüchen.'
---

<aside class="page-head">
  <h2>Drupal</h2>
  <h1>10 Jahre Drupal Services</h1>
  <p>Als Drupal Agentur und Dienstleister produzieren wir für Ihr Unternehmen, in Zusammenarbeit mit starken Partnern, kundenorientierte zukunftssichere Lösungen für das Web, mit modernster Technik und höchsten Qualitätsansprüchen.</p>
</aside>

<article>
<h1>Drupal Lösungen aus einer Hand</h1>
<%= image_tag 'mdwp-projekt-showroom.jpg', :alt => 'mdwp - Drupal consulting und services' %>
<p>
Das Content Management System Drupal ist das weltweit am meisten eingesetzte System für Enterprise-Lösungen. mdwp* arbeitet seit 2005 mit Drupal.
</p>
<h2>Weltweit einzigartig</h2>
<p>
Drupal wird von einer riesigen weltweiten Community, bestehend aus Entwicklern,
Anwendern und Unternehmen, getragen. Diese Community sorgt für den anhaltenden Erfolg und die stetige Verbesserung von Drupal.</p>
<p>
Wir sind stolz ein kleiner Teil dieser Community zu sein. Seit 2004 setzen wir uns in der einen oder anderen Art und Weise für die Verbreitung des besten Content Management Systems ein und versuchen immer wieder aufs neue, Unternehmen von den eindrucksvollen Möglichkeiten zu überzeugen.
</p>
<p>
Von der kleinen Firmen Website, über große Enterprise Lösungen, bis zu interaktiven Social Networks - es gibt kaum einen Anwendungsfall für den Drupal nicht geeignet ist.</p>
<p>
Seit 2005 entwickeln wir kleine und große Firmensites, Communities, Video Portale, Online News Sites, Interactive TV und Content Relating Shopping Sites.</p>
<p>
Wir stehen Ihnen auch nach dem Launch Ihres Projekts jederzeit gerne zur Verfügung. Beratung, Workshops und Drupal Projektmanagement gehören ebenfalls zu unserem Dienstleistungsangebot.
</p>
<a href="http://www.amazon.de/The-Definitive-Guide-Drupal-Apress/dp/1430231351%3FSubscriptionId%3DAKIAJTCTFQO22LJZTKWA%26tag%3Ddrupwebl-21%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1430231351" rel="nofollow">

<img height="160" width="129" typeof="foaf:Image" class="image-style-none" src="http://ecx.images-amazon.com/images/I/51CCXIOnH8L._SL160_.jpg" alt="Image of The Definitive Guide to Drupal 7 (Definitive Guide Apress)" title="The Definitive Guide to Drupal 7 (Definitive Guide Apress)" /></a>

</article>
