---
title: 'Gästebuch | mdwp - Web'
description: 'Wenn Sie mal in der Nähe von Hagen sind, besuchen Sie mich doch einfach im Büro. Bei einer Tasse Kaffee
lässt sich vieles in einem persönlichen Gespräch leichter klären.'
---
<aside class="page-head">
  <h2>Gästebuch</h2>
  <h1>...</h1>
  <p>...</p>
</aside>


<!--<form accept-charset="UTF-8" action="https://formkeep.com/f/c513a7cd7f7d" method="POST">

  <input type="hidden" name="utf8" value="✓">
  <p>
  <input type="email" name="email" required placeholder="Ihre E-Mail *">
  </p>
  <p>
  <input type="text" name="name" placeholder="Ihr Name">
  </p>
  <p>
  <textarea rows="5" name="anfrage"></textarea>
  </p>
  <p>
  <button type="submit">Anfrage senden</button>
  </p>
</form>-->
<form action="//formspree.io/mdwp.post@gmail.com" method="POST">
    <textarea rows="5" name="anfrage"></textarea>
    <input type="text" name="name" placeholder="Ihr Name">
    <input type="submit" value="Eintrag speichern">
</form>
