<aside class="page-head">
  <h2>mdwp</h2>
  <h4>Web Consulting und Services.</h4>
  <p>
Als Internet Agentur und Dienstleister produzieren wir für Ihr Unternehmen, in Zusammenarbeit mit starken Partnern, kundenorientierte zukunftssichere Lösungen für das Web, mit modernster Technik und höchsten Qualitätsansprüchen.</p>
</aside>
