---
title: 'Über uns | mdwp - Web'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman.'
---
<aside class="page-head">
  <h2>mdwp</h2>
  <h1>Web Consulting und Services.</h1>
  <p>
Als Internet Agentur und Dienstleister produzieren wir für Ihr Unternehmen, in Zusammenarbeit mit starken Partnern,
kundenorientierte zukunftssichere Lösungen für das Web, mit modernster Technik und höchsten Qualitätsansprüchen.
Nutzen Sie die Disqus-Kommentarfunktion am Ende jeder Seite, wenn Sie Anmerkungen oder Fragen zu einem Thema haben.</p>
</aside>

Seit fast 10 Jahren entwickeln wir für unsere Kunden Websites mit dem CMS Drupal.
Und in dieser Zeit haben wir hier fast ausschliesslich über Drupal geschrieben und
nur mit Drupal gearbeitet. Dabei sind ca. [40 Drupal Sites](/referenzen) enstanden.

Mit dem Relaunch von mdwp.de am 15.04.2015 ändert sich das. Wir haben neue Techniken
zur Erstellung von Websites im Angebot. Diese Techniken nutzen wir auch zur Entwicklung
und Pflege unserer Firmensite.
Und über diese Techniken werden wir Sie hier in Zukunft laufend informieren.

Natürlich wird Drupal auch in Zukunft eine wichtige Rolle für uns spielen.
Wir haben lediglich unser Angebot erweitert.

###Web Automation Services
Ist ein Begriff, der die neuen Techniken und Methoden, die wir nutzen und empfehlen,
am besten beschreibt.

Folgende Überlegungen gaben die Richtung vor:

- Wir möchten Kunden erreichen, die eigentlich mit einer statischen Website "auskommen".
- Statische Websites sind schnell und sicher.
- Das Hosting statischer Websites ist sehr, sehr günstig - häufig sogar kostenlos.
- Keine Update-Kosten des Systems, wie z.B. bei Drupal.
- Keine teuren Upgrades alle 4-5 Jahre.
- 100% Kontrolle über das benötigte HTML und CSS.
- **Statische Websites sind allerdings schlecht zu pflegen.**
- Man benötigt also einen der vielen vorhandenen Static Website Generators.
- Mit denen können Kunden, ohne weitreichende technische Fähigkeiten, aber nicht arbeiten.
- Ein CMS für statische Websites ist also zwingend erforderlich.
- Deployments der Site sollen nicht per FTP, sondern mit dem Versionskontrollsystem git durchgeführt werden.

Umfangreiche Recherchen und Tests führten zu folgenden Systemkomponenten:

- [Contentful](/contentful) als CMS
- [Middleman](/middleman) als static Website Generator
- Ein Middleman/Contentful Plugin
- Github oder Bitbucket als entferntes Git Repositoy
- Netlify zum Hosting und Continous Deployment
- Zapier für weitere automatisierte Workflow-Prozesse

[Kontaktieren Sie uns](/kontakt) gerne, wenn Sie mehr über dieses System-Setup, die damit verbundenen Möglichkeiten und Vorteile,
aber auch Grenzen, erfahren möchten.
