---
title: 'Kontakt | mdwp - Web'
description: 'Wenn Sie mal in der Nähe von Hagen sind, besuchen Sie mich doch einfach im Büro. Bei einer Tasse Kaffee
lässt sich vieles in einem persönlichen Gespräch leichter klären.'
---
<aside class="page-head">
  <h2>Kontakt</h2>
  <h1>Kontaktieren Sie mich direkt</h1>
  <p>Sie können alle klassischen Kanäle nutzen, um Kontakt zu mir aufzunehmen.
    Falls Sie aber in der Nähe von Hagen sind, besuchen Sie mich doch einfach im Büro. Bei einer Tasse Kaffee,
    bei schönem Wetter gerne auf der Büroterrasse, lässt sich vieles in einem persönlichen Gespräch leichter klären.</p>
</aside>
Ansonsten erreichen Sie mich so:

E-Mail: meinolf.droste@mdwp.de

Tel.: 02331 3 96 16 91

Mobil: 0151 2 41 26 232

Welchen Weg Sie auch immer wählen, ich freue mich auf Sie und möglicherweise auf spannende Projekte.

<!--<form accept-charset="UTF-8" action="https://formkeep.com/f/c513a7cd7f7d" method="POST">

  <input type="hidden" name="utf8" value="✓">
  <p>
  <input type="email" name="email" required placeholder="Ihre E-Mail *">
  </p>
  <p>
  <input type="text" name="name" placeholder="Ihr Name">
  </p>
  <p>
  <textarea rows="5" name="anfrage"></textarea>
  </p>
  <p>
  <button type="submit">Anfrage senden</button>
  </p>
</form>-->
<iframe src="https://docs.google.com/forms/d/1mosOY3HsfBvsdEmr0J4pTAQJzrg-LIHh5PO8o2fqRUs/viewform?embedded=true" width="760" height="600" frameborder="0" marginheight="0" marginwidth="0">Wird geladen...</iframe>
