---
title: 'Über uns | mdwp - Web'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman. Gerne beraten wir Sie auch vor und während -------------'
---
<aside class="page-head">
  <h2>Meinolf Droste</h2>
  <h1>Webworker seit 1995</h1>
  <p>Inhaber der Agentur mdwp seit 2005.</p>
</aside>

Seit Mitte der 1980er Jahre beschäftige ich mich mit Programmierung und IT.
Mein besonderes Interesse galt von Anfang an sog. Hypertext Systemen.
In sofern war **das** spätere WWW wie für mich geschaffen.
1989 entdeckte ich Toolbook als Entwicklungssystem für Hypertext und Multimedia CD Rom's.
Für den Verlag Data Becker habe ich Anfang der 1990er elektronische Stadtführer entwickelt.

1995 wurde ich Senior Developer bei der Agentur Concept! in Düsseldorf, eben mit
dem Schwerpunkt der Entwicklung individueller Multimedia Anwendungen. Die schnelle
Popularität des Internets änderte die Ausrichtung allerdings sehr schnell.

Web-Entwickler wurden benötigt. Was dazu führte, dass ich seit 1996 ausschliesslich
Websites entwickle.

2004 habe ich Drupal, damals noch für die Agentur Ogilvy, die zwischenzeitlich Concept!
übernommen hatte, entdeckt. und

2005 habe ich mdwp gegründet und setze seitdem Drupal erfolgreich für meine Kunden ein.
Seit neuestem beschäftige ich mich auch wieder mit statischen HTML Seiten
und setze für die Erstellung auf Contentful und Middleman.

Die neue mdwp.de Präsenz wird auf diese Art entwickelt.
