---
title: 'Über uns | mdwp - Web'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman. Gerne beraten wir Sie auch vor und während -------------'
---
<aside class="page-head">
  <h2>Meinolf Droste</h2>
  <h1>Webworker seit 1995</h1>
  <p>Seit Mitte der 1980er Jahre beschäftige ich mich mit Programmierung. Seit 1995 mit der Entwicklung von Websites. 2004 habe ich Drupal entdeckt und setze das CMS seit 2005 erfolgreich für meine Kunden ein. Seit neuestem beschäftige ich mich auch wieder mit statischen HTML Seiten und setze für die Erstellung auf Contentful und Middleman.</p>
</aside>
