<aside class="page-head">
  <h2>Microblog</h2>
  <p>In meinem Microblog Bereich finden Sie Beiträge von mir, die ich auf Facebook, Linkedin und Twitter geschrieben habe, auf einen Blick.
  Gerne können Sie mir dort folgen.</p>
</aside>


<div class="attachment-top">



<% data.mdwp.post.sort_by {|k,v| v["title"]}.first(3).each do |post| %>

<section>
  <header>
  <h2><%= post[1]["title"] %></h2>
  </header>
  <%= post[1]["body"] %>

</section>
<% end %>
</div>

<hr>
<% data.mdwp.post.sort_by {|k,v| v["title"]}.drop(3).each do |post| %>
<section>
  <header>
  <h2><%= post[1]["title"] %></h2>
  </header>
  <%= post[1]["body"] %>

</section>
<% end %>
