<aside class="page-head">
  <h2>Microblog</h2>
  <p>In meinem Microblog Bereich finden Sie Beiträge von mir, die ich auf Facebook, Linkedin und Twitter geschrieben habe, auf einen Blick.
  Gerne können Sie mir dort folgen.</p>
</aside>

<div class="attachment-top">
<% hash = data.mdwp.post %>

<% hash.sort.reverse_each do |slug, post| %>

<section>
  <header>
  <h2><%= post["slug"] %></h2>
  </header>
  <%= post["body"] %>

</section>
<% end %>
</div>
<hr>
<% data.mdwp.post.drop(3).reverse_each do |id, post| %>
<section>
  <header>
  <h2><%= post["title"] %></h2>
  </header>
  <%= post["body"] %>

</section>
<% end %>
