---
title: 'Über uns | mdwp - Web'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman. Gerne beraten wir Sie auch vor und während -------------'
---
<aside class="page-head">
  <h2>News</h2>
  <h1>Neues im Web</h1>
  <p>In diesem Bereich finden Sie Themen aus dem Bereich Webentwicklung, die mich besonders interessieren. Ein Schwerpunkt sind neue Technologien und Services im Web (SaaS), wie z.B. Zapier.</p>
</aside>
