---
title: 'Über uns | mdwp - Web'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman. Gerne beraten wir Sie auch vor und während -------------'
---
<aside class="page-head">
  <h2><%= post["title"]%></h2>
  <p>truncate(post["body"],:length => 340)</p>
</aside>

<%= post["title"]%>
<%= Kramdown::Document.new(post["body"]).to_html %>
