---
title: 'Archiv | mdwp - Drupal'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman.'
---
<aside class="page-head">
  <h2>Archiv</h2>
  <h1>Drupal Blog</h1>
  <p>In unserem Archiv finden Sie Beiträge aus den letzten 9 Jahren. Hauptsächlich zu Themen rund um Drupal.</p>
</aside>
<article>
<h1><%= entry["title"]%></h1>
<%= Kramdown::Document.new(entry["body"]).to_html %>
</article>
