---
title: 'Referenzen | mdwp - Web'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman.'
---
<aside class="page-head">
  <h2>Referenzen</h2>
  <h1>Unsere Drupal Projekte</h1>
  <p>Hier finden Sie eine Auswahl unserer Drupal Projekte der letzten Jahre. Die vielen unterschiedlichen
  Website Typen zeigen die enorme Flexibilität von Drupal. Einige große internationale Projekte können wie hier nicht
  nennen, in einem persönlichem Gespräch aber schon.</p>
</aside>
<article>
<h1><%= project["title"]%></h1>
<%= Kramdown::Document.new(project["body"]).to_html %>
</article>
