---
title: 'Microblog | mdwp - Web'
description: 'In meinem Microblog finden Sie Beiträge von mir, die für Facebook, Linkedin und
  Twitter geschrieben wurden, auf einen Blick.'
---
<aside class="page-head">
  <h2>Microblog</h2>
  <h1><%= post["title"]%></h1>
  <p>In meinem Microblog finden Sie Beiträge von mir, die für Facebook, Linkedin und
    Twitter geschrieben wurden, auf einen Blick.
  Gerne können Sie mir dort folgen.</p>
</aside>
<%= post["date"].strftime("%d.%m.%Y") %>
<%= Kramdown::Document.new(post["body"]).to_html %>
