<aside class="page-head">
  <h2>Referenzen</h2>
  <p>....</p>
</aside>

<% data.mdwp_project.project.sort_by {|k,v| v["rid"]}.reverse_each do |project| %>

<section>
  <header>
  <h2><%= project[1]["title"] %></h2>
  <h2><%= project[1]["rid"] %></h2>
  </header>
  <%= Kramdown::Document.new(project[1]["body"]).to_html %>

</section>
<% end %>
