---
title: 'Referenzen | mdwp - Drupal'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman. Gerne beraten wir Sie auch vor und während -------------'
---
<aside class="page-head">
  <h2>Referenzen</h2>
  <h1>Unsere Drupal Projekte</h1>
  <p>Hier finden Sie eine Auswahl unserer Drupal Projekte der letzten Jahre. Die vielen unterschiedlichen
  Website Typen zeigen die enorme Flexibilität von Drupal. Einige große internationale Projekte können wie hier nicht
  nennen, in einem persönlichem Gespräch aber schon.</p>
</aside>

<% data.mdwp_project.project.sort_by {|k,v| v["rid"]}.reverse_each do |project| %>

<section>

  <header>
  <h2><a href="/<%= project[1]["url"] %>"><%= project[1]["title"] %></a></h2>

  </header>
  <%= Kramdown::Document.new(project[1]["summary"]).to_html %>

  <a href="/<%= project[1]["url"] %>">Kompletten Artikel lesen</a>

</section>
<% end %>
