<aside class="page-head">
  <h2>Referenzen</h2>
  <p>....</p>
</aside>

<% data.mdwp_project.project.sort_by {|k,v| v["rid"]}.reverse_each do |project| %>

<section>

  <header>
  <h2><a href="<%= project[1]["url"] %>"><%= project[1]["title"] %></a></h2>

  </header>
  <%= Kramdown::Document.new(project[1]["summary"]).to_html %>
  
  <a href="<%= project[1]["url"] %>">Kompletten Artikel lesen</a>

</section>
<% end %>
