---
title: 'Über uns | mdwp - Web'
description: 'Wir entwickeln Websites mit HTML5, CSS 3, jQuery, Drupal, Contentful und Middleman. Gerne beraten wir Sie auch vor und während -------------'
---
<aside class="page-head">
  <h2>Technik</h2>
  <h1>>= 2015</h1>
  <p>Seit 10 Jahren setze ich bei der Entwicklung von Websites das CMS Drupal ein. Neu hinzugekommen ist jetzt das CMS Contentful, mit welchem man u.A. die Inhalte für statische Websites pflegen und verwalten kann.</p>
</aside>
